name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Variables Make Testing
      id: variables-make-testing
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 4
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        VARIABLES-MAKE-TESTING_RESULTS: "${{steps.variables-make-testing.outputs.result}}"
      with:
        runners: variables-make-testing
